
@import "tailwindcss";


#root{
    width: 100vw;
    height:100vh;
}

body{
    margin:0;
}
@font-face {
  font-family: xspace;
  font-weight: 400;
  src: url(./assets/fonts/xspace/ttf/xspace-xspace-400.ttf);
}

@theme{
 --font-xspace: xspace
}

.individual-icon{
  height: 30px;
  width: auto;
  
  transition-duration: 0.4s;
}

.individual-icon:hover{
  scale: 1.5;
  cursor: pointer;
}





.open-nav-btn-icon{
  height: 30px;
  width: auto;
  padding-left: 10px;
}






.open-nav-btn{
  height: 100px;
  width: 50px;
  border-radius: 25px;
  background-color: rgba(223, 223, 223, 0.849);

  transition-duration: 0.4s;
}

.open-nav-btn:hover{
  background-color: rgba(49, 49, 49, 0.918);

  cursor: pointer;
}




