
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;1,300&display=swap');
@import "tailwindcss";


#root{
    width: 100vw;
    height:100vh;
}

body{
    margin:0;
}
@font-face {
  font-family: xspace;
  font-weight: 400;
  src: url(./assets/fonts/xspace/ttf/xspace-xspace-400.ttf);
}

@theme{
  --font-*: initial;
  --font-sans: "Inter Tight", sans-serif;
  --font-xspace: xspace;
}

.standard-small-text-size{
  font-size: 11px;
}


.individual-icon{
  height: 30px;
  width: auto;
  
  transition-duration: 0.25s;
}

.individual-icon:hover{
  scale: 1.2;
  cursor: pointer;
}


.open-nav-btn-icon{
  height: 25px;
  width: auto;
  padding-left: 15px;
}

.standard-button{
  transition-duration: 0.3s;
}
.standard-button:hover{
  scale: 1.1;
}

.open-nav-btn{
  height: 120px;
  width: 40px;
  border-radius: 25px;
  background-color: rgba(246, 247, 249, 0.734);
  cursor: pointer;
  transition-duration: 0.4s;
}




.indicator-outer-layer{
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: transparent;
  border: 4px solid rgb(48, 129, 57);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  animation: glow infinite;
  animation-duration: 1.5s;
  z-index: 1;
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
  
}


.indicator-inner-layer{
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: rgb(48, 129, 57);
  z-index: 1;
}

.standard-dark-gray{
  background-color: rgb(31, 31, 31);
}







.interactable-button, .interactable-button-mobile{
  width: 60px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5); /* Subtle white border */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  backdrop-filter: blur(8px); 
  transition: 0.3s;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

.interactable-button-mobile{
  width: 80px;
  height: 28px;
  font-size: 8px;
}


.interactable-button::before, .interactable-button::after, .interactable-button div::before, .interactable-button div::after,
.interactable-button-mobile::before, .interactable-button-mobile::after, .interactable-button-mobile div::before, .interactable-button-mobile div::after
{
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.8); /* White lines */
  transition: 0.3s;
 
}

/*Top left horizontal line*/
.interactable-button::before{
  width: 6px;
  height: 2px;
  top: 9px;
  left: 22px;
}

/*Top left vertical line*/
.interactable-button div::before{
  width: 2px;
  height: 6px;
  top: 9px;
  left:  22px;
  background: rgba(255, 255, 255, 0.5); /* White lines */
}



/*Bottom right horizontal line*/
.interactable-button::after{
  width: 6px;
  height: 2px;
  bottom: 9px;
  right:  22px;
}

/*Bottom right vertical line*/
.interactable-button div::after{
  width: 2px;
  height: 6px;
  bottom: 9px;
  right:  22px;
  background: rgba(255, 255, 255, 0.9); /* White lines */

}


/*When hover over*/

/*Bottom right vertical line*/
.interactable-button:hover div::after{
  width: 2px;
  height: 6px;
  bottom: 6px;
  right:  18px;
  background: rgba(255, 255, 255, 0.9); /* White lines */

}

.interactable-button:hover::before{
  width: 6px;
  height: 2px;
  top: 6px;
  left: 18px;
}

/*Top left vertical line*/
.interactable-button:hover div::before{
  width: 2px;
  height: 6px;
  top: 6px;
  left:  18px;
  background: rgba(255, 255, 255, 0.5); /* White lines */
}



/*Bottom right horizontal line*/
.interactable-button:hover::after{
  width: 6px;
  height: 2px;
  bottom: 6px;
  right:  18px;
}



.interactable-button:hover div::after{
  width: 2px;
  height: 6px;
  bottom: 6px;
  right:  18px;
  background: rgba(255, 255, 255, 0.9); /* White lines */

}

.interactable-button:hover::before{
  width: 6px;
  height: 2px;
  top: 6px;
  left: 18px;
}

/*Top left vertical line*/
.interactable-button:hover div::before{
  width: 2px;
  height: 6px;
  top: 6px;
  left:  18px;
  background: rgba(255, 255, 255, 0.5); /* White lines */
}



/*Bottom right horizontal line*/
.interactable-button:hover::after{
  width: 6px;
  height: 2px;
  bottom: 6px;
  right:  18px;
}




/* FOR MOBILE VIEW, NO HOVER EFFECT */
/*Bottom right horizontal line*/
.interactable-button-mobile div::after{
  width: 2px;
  height: 6px;
  bottom: 4px;
  right:  12px;
  background: rgba(255, 255, 255, 0.9); /* White lines */

}
/*Bottom right horizontal line*/
.interactable-button-mobile::after{
  width: 6px;
  height: 2px;
  bottom: 4px;
  right:  12px;
  background: rgba(255, 255, 255, 0.9); /* White lines */
}

/*Top left vertical line*/
.interactable-button-mobile  div::before{
  width: 2px;
  height: 6px;
  top: 4px;
  left:  12px;
  background: rgba(255, 255, 255, 0.9); /* White lines */
}

.interactable-button-mobile::before{
  width: 6px;
  height: 2px;
  top: 4px;
  left: 12px;
  background: rgba(255, 255, 255, 0.9); /* White lines */
}








.interactable-button:hover{
  width: 100px;
  transition-delay: 0.1s;

}

.interactable-button span{
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  transition: 0.3s;
  transform: translateX(-10px);
}
.interactable-button:hover span{
  visibility: visible;
  opacity: 1;
  white-space: nowrap;
  transition-delay: 0.3s;
  transform: translateX(0px);
}


.interactable-button-mobile-span-visible span{
  visibility: visible;
  opacity: 1;
  white-space: nowrap;
}





.enter-simulation-btn{
  width: 150px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  background: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5); /* Subtle white border */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  backdrop-filter: blur(8px); 
  transition: 0.3s;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

.enter-simulation-btn span{
  transform: translateX(0);
  transition: 0.3s;
  transition-delay: 0.05s;
}

.enter-simulation-btn:hover{
  width: 170px;
  transition-delay: 0.1s;
}

.enter-simulation-btn:hover span{
  transform: translateX(-8px);
}
.enter-simulation-btn:hover .chevron{
  visibility: visible;
  transform: rotate(-45deg) translateY(2px) translateX(2px);
}


.chevron {
  visibility: hidden;
  display: inline-block;
  border-right:
      1px solid rgb(255, 255, 255);
  border-bottom:
      1px solid rgb(255, 255, 255);
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  margin-bottom: 1px;
  transition: 0.25s;
}





.simulation-hamburger-menu{
  height: 50px;
  width: 50px;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.103);
  backdrop-filter: blur(8px); 
  cursor: pointer;
  transition: 0.3s;
}
.simulation-hamburger-menu:hover{
  transform: scale(1.15);
}


.radar-quick-menu{
  border-radius: 50%;
  border-left: 3px solid white;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.264), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

}

.quick-nav-component-container{
  transition-duration: 0.25s;
  cursor: pointer;
}
.quick-nav-component-container:hover{
  transform: scale(1.1);  
}




.quick-nav-component-content{
  height: 25px;
  width: auto;
  
}

.quick-nav-component-content-mobile{
  height: 20px;
  width: auto;
  
}


.quick-nav-comp-effect{
 
  border: none;
}

.quick-nav-comp-effect:hover{
  border: 3px solid white;

}

.enable-special-effect-off{
  background-color: rgb(72, 72, 72);
}

.enable-special-effect-off:hover{
  border: 3px solid rgb(72, 72, 72);
}


.quick-navigation-open-animation{
  transition: 0.4s;
  transform: scale(0);
}

.quick-navigation-open-animation.open{
  transform: scale(1);
}


.about-me-panel-config, .my-project-panel-config{
  max-width: 53vw;
  max-height: 65vh;
  background-color: rgb(243, 242, 247);
  z-index: 30;
  position: absolute;
}
.my-project-panel-config{
  padding-bottom: 10px;
}

.remove-max-height{
  max-height: 100%;
}
.window-small-height-project-description{
  max-width: 70%;
}
.about-me-panel-config-mobile, .my-project-panel-config-mobile{
  width: 85vw;
  height: 83vh;
  background-color: rgb(243, 242, 247);
  z-index: 30;
  position: absolute;
}


.project-details-panel-mobile{
  max-width: 62%;
  margin-bottom: 20px;
}


.profile-pic-container{
  width: 160px;
  height: 160px;
  background-color: transparent;
}
.profile-pic-container-mobile{
  width: 120px;
  height: 120px;
  background-color: transparent;
}




.instagram-styled-btn{
  padding: 8px 30px;
  background-color: transparent;
  border: 2px solid rgb(25, 25, 25);
  color: black;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.instagram-styled-btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 5px 24px -2px rgba(106,106,106,0.75);
  -webkit-box-shadow: 0px 5px 24px -2px rgba(106,106,106,0.75);
  -moz-box-shadow: 0px 5px 24px -2px rgba(106,106,106,0.75);
}


.github-styled-btn{
  padding: 8px 30px;
  background-color: rgb(25, 25, 25);
  color: white;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.github-styled-btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 5px 24px -2px rgba(106,106,106,0.75);
  -webkit-box-shadow: 0px 5px 24px -2px rgba(106,106,106,0.75);
  -moz-box-shadow: 0px 5px 24px -2px rgba(106,106,106,0.75);
}

.next-project-btn{
  transition: 0.3s;
}

.next-project-btn:hover{
  background-color: rgba(0, 0, 0, 0.059);
  
}

.panel-close{
  padding-left: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.notification-panel {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(198, 198, 198, 0.5);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  color: rgba(255, 255, 255, 0.7);
  width: 400px;
}

.notification-panel-mobile {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(198, 198, 198, 0.5);
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  color: rgba(255, 255, 255, 0.7);
  width: 300px;
}


.composure-effect-img{
  width: 25px;
  height: 25px;
}

.notification-icon{
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
}


/* Loader from css-loaders.com*/
.loader {
  display: inline-flex;
  gap: 5px;
  animation: l2-0 1s infinite;
}
.loader:before,
.loader:after {
  content: "";
  width: 25px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l2-1 1s infinite;
}
.loader:after {
  --s: -1;
}
@keyframes l2-0 {
  0%,
  50% {transform:rotate(0deg)}
  80%,
  100% {transform:rotate(180deg)}
}
@keyframes l2-1 {
  0%   {transform:translate(0)}
  50%,
  80%  {transform:translate(calc(var(--s,1)*2.5px))}
  100% {transform:translate(0)}
}

.rotate-phone{
  width: 50px;
  height: 100px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid white;
}

.tutorial-image-container{
  width: 130px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipe-icon{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: white;
}

.simple-button{
  background-color: rgb(215, 215, 223);
  padding: 2px 10px;
  border-radius: 5px;
}

.dynamic-height-about-me{
  height:48vh;
}
.dynamic-height-fyp{
  height: 43vh;
}


@media (width <= 80rem ) {
  .about-me-panel-config{
    max-width: 95vw;
    max-height: 95vh;    
  }
  .my-project-panel-config{
    max-width: 95vw; 
  }
  

}


@media (max-width: 800px) {
  .text-extra-small{
    font-size: 12px;
  }
}


/* Apply styles for screens smaller than Tailwind's `md` (768px) */
@media (max-width: 767px) {

  .individual-icon{
    height: 22px;
  }

  .notification-icon{
    width: 60px;
    height: 25px;
    border-radius: 30px;
  }
  .composure-effect-img{
    width: 15px;
    height: 15px;
  }

}


@media (max-aspect-ratio: 3/2) { /* Equivalent to width/height <= 80/100 */
  .about-me-panel-config {
    max-width: 75vw;
    max-height: 90vh;    
  }
  .my-project-panel-config,.my-project-panel-config-mobile {
    max-height: 60vh;  
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }


  .near-square-screen-size-panel{
    width:50%;
    left: 8vw;
    bottom: 2vh;
  }
  .my-project-panel-config{
    max-width: 70vw;
    max-height: 65vh;
    right:15vw;
    top:18vh;
  }
  .near-square-screen-size-config-sim-word-overlay{
    left: 8vw;
    top: 5vh;
  }
  .not-mobile-fyp{
    max-width: 100%;
  }
  .on-resizeble-pc-fyp{
    max-width: 65%;
  }
}

